
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  user-select: none;
}
.game-container {
  display: flex;
  justify-content: space-between;
}
.leaderboard {
  width: 20vw;
}
.info {
  width: 20vw;
  padding-top: 32px;
}
.leaderboard-title {
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 16px;
}
.cow-title {
  font-size: 24px;
  font-weight: 600;
  padding: 32px 0;
}
.cow-container {
  width: 50vw;
  max-width: 450px;
}
.cow-all {
  display: grid;
  height: 50vw;
  max-height: 450px;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(1fr, 1fr);
}
.cow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: outset #1a1a1a;
  border-radius: 6px;
  cursor: pointer;
  background-image: url(../img/cow.png);
  background-size: cover;
  font-size: 32px;
  color: red;
  font-weight: 600;
}

.cow-disable {
  pointer-events: none;
  filter: grayscale(80%);
}

.cow:hover {
  box-shadow: 0 0 20px 1px  green;
}

.my-score {
  display: flex;
  color: #22b14c;
  padding: 32px 0;
  font-size: 21px;
  font-weight: 600;
}

.users {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-auto-rows: minmax(24px, auto);
}

.form-authorization {
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  margin: 4px 0;
  cursor: pointer;
  background-color: #22b14c;
  color: white;
  border-radius: 6px;
  border: none;
  outline: none;
}

button:hover {
  box-shadow: 0 0 10px 1px  green;
}

input {
  margin: 4px 0;
  border: none;
  outline: none;
  border-bottom: solid 1px #1a1a1a;
}

input:focus {
  border-bottom: solid 1px green;
}

.description {
  text-align: center;
}

.pass-bottom {
  margin-bottom: 32px;
}

.is-danger {
  background-color: red;
  color: white;
  padding: 4px;
}

.checkbox {
  cursor: pointer;
  font-size: 12px;
}

@media only screen and (max-width: 550px) {
  .cow-container {
    width: 60vw;
  }
  .info {
    width: 30vw;
  }
  .cow-all {
    height: 60vw;
  }
  .game-container {
    height: 60vh;
  }
  .leaderboard {
    position: absolute;
    bottom: 0;
    height: 40vh;
    width: 100%;
  }
}