<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename= 'img/cow.png') }}">
      <script src="{{ url_for('static', filename= 'script/script.js') }}"></script>
      <title>cows!</title>
  </head>
  <body>
    <div class="cow-container">
      <div class="cow-title">Click on the cows! Break records!!</div>
      <div class="cow-all">
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
      </div>
    </div>
    <div class="leaderboard">
      <div class="leaderboard-title">Top 10 players:</div>
      <div class="users">
        <div class="user">Fedor: </div>
        <div class="score">45</div>
        <div class="user">Nina: </div>
        <div class="score">44</div>
        <div class="user">Lena: </div>
        <div class="score">20</div>
        <div class="user">Kira: </div>
        <div class="score">18</div>
        <div class="user">Nena: </div>
        <div class="score">15</div>
        <div class="user">Alla: </div>
        <div class="score">14</div>
        <div class="user">Seta: </div>
        <div class="score">10</div>
        <div class="user">Oli: </div>
        <div class="score">9</div>
        <div class="user">Chell: </div>
        <div class="score">5</div>
        <div class="user">Vov: </div>
        <div class="score">3</div>
      </div>
    </div>
    <div class="info">
      <div class="description pass-bottom">
        Log in to get the opportunity to get into the top of the best players! And also get the opportunity to reduce the time of clicks!
      </div>
      <div class="info-title"></div>
      <div class="info-authorization">
        <form class="form-authorization" action="">
          <input type="email" placeholder="email">
          <input type="password" placeholder="passmord">
          <button>login</button>
        </form>
      </div>
      <div class="description">or</div>
      <button>register!</button>
    </div>
  </body>
</html>