<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename= 'img/cow.png') }}">
      <script src="{{ url_for('static', filename= 'script/script.js') }}"></script>
      <title>cows!</title>
  </head>
  <body>
    <div class="cow-container">
      <div class="title">Click on the cows! Break records!!</div>
      <div class="cow-all">
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
        <div class="cow"></div>
      </div>
    </div>
  </body>
</html>