<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <script src="{{ url_for('static', filename= 'script/script.js') }}"></script>
      <title>cows!</title>
  </head>
  <body>
    <div class="cow-all">
      <div class="cow"></div>
      <div class="cow"></div>
      <div class="cow"></div>
      <div class="cow"></div>
      <div class="cow"></div>
      <div class="cow"></div>
      <div class="cow"></div>
      <div class="cow"></div>
      <div class="cow"></div>
    </div>
  </body>
</html>